<div class="flex gap-4 max-h-[600px]">
  <%= turbo_frame_tag "chat_list_frame" do %>
    <%= render "chatbots/chats/chat_interface/chat_list" %>
  <% end %>
  <div class="p-4 w-3/5 min-h-[550px] max-h-[550px] overflow-y-scroll" data-controller="chat-scroll">
    <%= turbo_frame_tag "chat_messages" do %>
      <%= render "chatbots/chats/chat" %>
    <% end %>
  </div>
</div>