<% chatbot = chat.chatbot %>
<li id="chat_list_item_<%= chat.id %>"
    class="hover:bg-gray-50 cursor-pointer chat-item"
    data-active-chat-target="item" 
    data-action="click->active-chat#selectChat">
  <%= link_to chatbot_chat_path(chatbot, chat),
      class: "p-4 flex items-center justify-between",
      data: { turbo_stream: true, turbo_frame: "chat_details", turbo_prefetch: "false" } do %>
      <%= render "chatbots/chats/chat_interface/chat_list_item/content",
          chat: chat,
          chatbot: chatbot %>
  <% end %>
</li>