<div class="w-full p-4 flex border-b border-gray-200">
  <div class="w-2/5 flex items-center">
    <h2 class="text-2xl font-bold"><%= t('chatbots.chats.chat_interface.sub_header_title') %></h2>
  </div>
  <div class="w-3/5 flex justify-end">
    <%= turbo_frame_tag "chat_details" do %>
      <%= render "chatbots/chats/chat_interface/header_info", chat: @chat %>
    <% end %>
  </div>
</div>