<div id="public-chat" class="card bg-base-100 shadow-sm w-full">
  <!-- Header section -->
  <%= render "public/playground/header", chatbot: chatbot %>
  
  <!-- Chat messages area -->
  <div class="min-h-[600px] max-h-[600px] h-full overflow-y-auto p-6" data-controller="chat-scroll">
    <%= render "public/playground/messages", messages: messages, chatbot: chatbot %>
  </div>

  <!-- Input area -->
  <div class="card-body pt-0 px-4">
    <div class="flex items-center">
      <%= render "public/playground/form", chat: chat, messages: messages %>
    </div>
  </div>
</div>
