<%= turbo_stream_from "public_playground_chat_#{chat.id}_messages" %>
<div id="public-chat" class="card bg-base-100 shadow-sm w-full h-full flex flex-col">
  <!-- Header section -->
  <%= render "public/playground/header", chatbot: chatbot %>
  
  <!-- Chat messages area -->
  <div class="overflow-y-auto flex-auto h-full min-h-[calc(100vh-350px)] max-h-[calc(100vh-350px)] p-6" data-controller="chat-scroll">
    <%= render "public/playground/messages", messages: messages, chatbot: chatbot %>
  </div>

  <!-- Input area -->
  <div class="card-body pt-0 px-4">
    <div class="flex items-center">
      <%= render "public/playground/form", chat: chat, messages: messages %>
    </div>
  </div>
</div>
