
<!-- Main playground container -->
<div class="relative h-full px-0 pb-12">
  <div class="h-full">
    <div class="flex h-full">
      <%= render "public/playground/chat", chat: @chat, messages: @messages, chatbot: @chatbot %>
    </div>
  </div>
</div>
