<div>
  <h1 class="text-8xl text-gray-950 tracking-tighter text-balance">Dashboard#index</h1>
  <p>Find me in app/views/dashboard/index.html.erb</p>

  <hr>

  <p>Email: <%= current_user.email %></p>

  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "mt-4 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
</div>
