<%= render "shared/header" %>

<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @chatbots.each do |chatbot| %>
      <div class="rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300">
        <%= link_to chatbot_path(chatbot), class: "block" do %>
          <div class="h-48 bg-gray-200 flex items-center justify-center">
            <% if chatbot.respond_to?(:image) && chatbot.image.present? %>
              <%= image_tag chatbot.image, class: "w-full h-full object-cover" %>
            <% else %>
              <svg class="w-16 h-16 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
              </svg>
            <% end %>
          </div>
          <div class="p-4">
            <h3 class="font-medium text-lg mb-1"><%= chatbot.name %></h3>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
