<div id="message_<%= message.id %>">
  <% if message.sender == "user" %>
    <div class="chat chat-end">
      <div class="chat-bubble chat-bubble-primary"><%= markdown(message.content) %></div>
    </div>
  <% end %>

  <% if message.sender == "assistant" %>
    <div class="chat chat-start">
      <div class="chat-bubble"><%= markdown(message.content) %></div>
    </div>
  <% end %>
</div>
