<%= turbo_stream_from "conversation_contact_#{conversation.id}_messages" %>
<div class="flex flex-col h-[600px] max-h-[600px]">
  <div class="overflow-y-scroll max-h-[600px] h-[600px] flex flex-col" data-controller="chat-scroll">
    <div class="flex flex-col p-4 gap-2" id="conversation_<%= conversation.id %>_messages">
      <% messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
  </div>
  <%= render "chatbots/conversations/main/form", conversation: conversation %>
</div>