<% chatbot = local_assigns.fetch(:chatbot) %>
<%= form_with url: chatbot_documents_path(@chatbot), scope: :document, multipart: true, data: { turbo: true }, class: "flex flex-col gap-2" do |form| %>
  <div class="form-control w-full">
    <div class="flex flex-col gap-1 w-full">
      <label class="label text-sm" for="document_file">
        <span class="label-text">PDF document</span>
      </label>
      <%= form.file_field :file, accept: "application/pdf", multiple: false, class: "file-input file-input-bordered w-full", required: true %>
    </div>
  </div>

  <div class="flex flex-row justify-end mt-2">
    <%= form.submit "Upload document", data: { turbo_submits_with: "Uploading..." }, class: "btn btn-primary" %>
  </div>
<% end %>
