<div id="<%= dom_id(chatbot, :responses_list) %>">
  <% if responses.any? %>
    <div class="flex flex-col justify-between items-center pb-5 gap-2">
      <%= render partial: "chatbots/responses/response", collection: responses, as: :response, locals: { chatbot: chatbot } %>
      <%= render "chatbots/responses/load_more", chatbot: chatbot, pagy: pagy %>
    </div>
  <% else %>
    <div class="w-full h-64 border-2 border-dashed border-gray-300 flex justify-center items-center">
      You don't have any FAQs yet
    </div>
  <% end %>
</div>
