<div id="<%= dom_id(chatbot, :processing_loader) %>" class="w-full flex flex-col justify-center items-center gap-4">
  <div class="flex items-center gap-3">
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold text-base-content text-xl text-center">
        Processing CSV...
        <span class="loading loading-spinner text-primary"></span>
      </h2>
      <p class="text-sm text-base-content/70">
        We’re importing the products form your CSV. You can keep working—this panel will update automatically.
      </p>
    </div>
  </div>
</div>
