<% chatbot = local_assigns.fetch(:chatbot) { @chatbot } %>
<% if products.exists? %>
  <%= render partial: "chatbots/products/table", locals: { chatbot: chatbot, products: products, pagy: pagy } %>
<% else %>
  <div class="w-full h-64 border-2 border-dashed border-gray-300 flex flex-col justify-center items-center gap-2">
    <div class="flex flex-col gap-2 text-center mb-4">
      <h2 class="text-xl font-semibold"><%= t("chatbots.products.table_or_empty.empty_title") %></h2>
      <p class="text-md font-regular"><%= t("chatbots.products.table_or_empty.empty_description") %></p>
    </div>
  </div>
<% end %>
