<div id="chat" class="card bg-base-100 shadow-sm w-full">
  <!-- Header section -->
  <%= render "chatbots/playground/chat_header", chatbot: chatbot %>
  
  <!-- Chat messages area -->
  <div class="min-h-[400px] h-full overflow-y-auto p-6" data-controller="chat-scroll">
    <%= render "chatbots/playground/chat_messages", messages: messages, chatbot: chatbot %>
  </div>

  <!-- Input area -->
  <div class="card-body pt-0 px-4">
    <div class="flex items-center">
      <%= render "chatbots/playground/chat_form", chat: chat, messages: messages %>
    </div>
  </div>
</div>
  

