<div class="navbar bg-base-100 border-b border-base-200 px-4">
  <div class="flex-1">
    <div class="flex items-center gap-3">
      <div class="avatar placeholder">
        <div class="bg-gradient-to-r from-warning to-error w-10 h-10 rounded-full relative">
          <span class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-xl font-bold text-base-100"><%= chatbot&.name&.first || 'A' %></span>
        </div>
      </div>
      <h3 class="text-lg font-medium"><%= chatbot&.name || "Assistant" %></h3>
    </div>
  </div>
  <div class="flex-none">
    <%= button_to chats_path, 
        method: :post,
        class: "btn btn-ghost btn-circle",
        params: { chat: { chatbot_id: chatbot.id, source: "playground" } } do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
      </svg>
    <% end %>
  </div>
</div>
