
  <div class="w-96 shrink-0">
    <div class="bg-white rounded-lg shadow-sm border border-gray-200 p-6">
        <%= render "chatbots/playground/sidebar/form", chatbot: @chatbot %>
    </div>
  </div>

