  <div class="w-96 shrink-0">
    <div class="card bg-base-100 shadow-sm">
      <div class="card-body">
        <%= render "chatbots/playground/sidebar/form", chatbot: @chatbot %>
      </div>
    </div>
  </div>

