<div class="flex flex-col gap-2">
  <p class="text-sm text-gray-500 font-semibold">
    Número de cliente:
  </p>
  <p class="flex items-center gap-2 text-gray-500">
    <%= icon "phone", variant: "outline", class: "size-5" %> +<%= chat.contact_phone %>
  </p>
</div>