<div class="h-[calc(100vh-350px)] overflow-y-auto flex flex-col gap-4">
  <% chat.messages.order(created_at: :asc).each do |message| %>
    <div class="chat <%= message.sender == 'user' ? 'chat-end' : 'chat-start' %>">
      <div class="chat-bubble <%= message.sender == 'user' ? 'chat-bubble-primary' : 'chat-bubble-secondary' %>">
        <%= message.content %>
      </div>
    </div>
  <% end %>
</div> 