<div class="card bg-base-100 shadow-md">
  <div class="card-body p-0 gap-0 border-b-0 shadow-none">
    <% if @chats.any? %>
      <div class="grid grid-cols-12">
        <div class="col-span-4">
          <%= render "chatbots/chats/chat_interface/side" %>
        </div>
        <div class="col-span-8">
          <%= render "chatbots/chats/chat_interface/main" %>
        </div>
      </div>
    <% else %>
      <%= render "chatbots/chats/chat_interface/empty_state" %>
    <% end %>
  </div>
</div>
