<% content_for :title, t('.page_title_content_for') %>
<% content_for :sub_navigation do %>
  <%= render "shared/chatbot_header" %>
<% end %>

<div class="w-full">
  <h1 class="text-3xl font-bold mb-8"><%= t('.header_title') %></h1>
  <%= render "chatbots/chats/chat_interface" %>
</div>
