<div class="flex flex-col gap-2 text-center mb-4">
  <h2 class="text-xl font-semibold">Set up your products</h2>
  <p class="text-md font-regular">Create products individually or just bulk create them by uploading a CSV file.</p>
</div>
