<dialog id="import_products_modal" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>

    <h3 class="text-lg font-bold">Import CSV</h3>
    <p class="py-4">Upload your CSV file to bulk upload products. We only support 3 columns: name, description and price.</p>

    <%= render "after_signup/products/import_products_modal_form" %>
  </div>
</dialog>