<% chatbot = local_assigns.fetch(:chatbot) { @chatbot } %>

<dialog id="import_products_modal" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>

    <h3 class="text-lg font-bold"><%= t("after_signup.products.import_modal.title") %></h3>
    <p class="py-4 text-sm"><%= t("after_signup.products.import_modal.instructions") %></p>

    <%= render "after_signup/products/import_products_modal_form", chatbot: chatbot %>
  </div>
</dialog>
