<div class="card bg-base-100 shadow-md cursor-not-allowed">
  <div class="card-body">
    <div class="flex items-center mb-4">
      <div class="w-12 h-12 rounded-lg">
        <%= image_tag "https://conversalo.nyc3.cdn.digitaloceanspaces.com/messenger.svg", class: "w-full h-full object-cover" %>
      </div>
      <h2 class="card-title text-stone-400 ml-4">Messenger</h2>
    </div>
    <p class="text-stone-400">chatbot to a Messenger account and let it respond to messages from your customers.</p>
    <div class="card-actions justify-stretch mt-2">
      <button class="btn btn-neutral btn-disabled w-full">Coming Soon</button>
    </div>
  </div>
</div>