<div class="mb-4">
  <div class="tabs justify-center">
    <% if @chatbot %>
      <%= link_to "Playground", 
          chatbot_playground_path(@chatbot), 
          class: "tab #{current_page?(chatbot_playground_path(@chatbot)) ? 'tab-active' : ''}" %>
      <%= link_to "Sources", 
          chatbot_sources_path(@chatbot), 
          class: "tab #{current_page?(chatbot_sources_path(@chatbot)) ? 'tab-active' : ''}" %>
      <%= link_to "Integrations", 
          chatbot_integrations_path(@chatbot), 
          class: "tab #{current_page?(chatbot_integrations_path(@chatbot)) ? 'tab-active' : ''}" %>
      <%= link_to "Settings", 
          chatbot_settings_path(@chatbot), 
          class: "tab #{current_page?(chatbot_settings_path(@chatbot)) ? 'tab-active' : ''}" %>
    <% end %>
  </div>
</div>