<div class="flex-grow">
  <%= render "chatbots/chats/chat_interface/chat_list_item/title", chat: chat %>
  <%= render "chatbots/chats/chat_interface/chat_list_item/message_preview", chat: chat %>
</div>
<!-- TODO: Add timestamp to broadcast when a message is created -->
<%= render "chatbots/chats/chat_interface/chat_list_item/timestamp", chat: chat, chatbot: chatbot %>