<div class="h-[600px] max-h-[600px] flex flex-col p-4 gap-4">
  <div class="flex items-center justify-end gap-2">
    <div class="skeleton h-6 w-48 rounded-xl"></div>
    <div class="skeleton h-8 w-8 rounded-full shrink-0"></div>
  </div>

  <div class="flex items-start gap-2">
    <div class="skeleton h-8 w-8 rounded-full shrink-0"></div>
    <div class="skeleton h-16 w-80 rounded-xl"></div>
  </div>

  <div class="flex items-start justify-end gap-2 self-end">
    <div class="skeleton h-12 w-56 rounded-xl"></div>
    <div class="skeleton h-8 w-8 rounded-full shrink-0"></div>
  </div>


  <div class="flex items-start gap-2">
    <div class="skeleton h-8 w-8 rounded-full shrink-0"></div>
    <div class="skeleton h-16 w-96 rounded-xl"></div>
  </div>

    <div class="flex items-center justify-end gap-2">
    <div class="skeleton h-6 w-48 rounded-xl"></div>
    <div class="skeleton h-8 w-8 rounded-full shrink-0"></div>
  </div>

  <div class="flex items-start gap-2">
    <div class="skeleton h-8 w-8 rounded-full shrink-0"></div>
    <div class="skeleton h-16 w-80 rounded-xl"></div>
  </div>

  <div class="flex items-start justify-end gap-2 self-end">
    <div class="skeleton h-12 w-56 rounded-xl"></div>
    <div class="skeleton h-8 w-8 rounded-full shrink-0"></div>
  </div>


  <div class="flex items-start gap-2">
    <div class="skeleton h-8 w-8 rounded-full shrink-0"></div>
    <div class="skeleton h-16 w-96 rounded-xl"></div>
  </div>
</div>
