<template data-files-target="fileCard">
  <div class="card bg-base-200 shadow-sm mb-2" data-file-index="">
    <div class="card-body p-4">
      <div class="flex items-center gap-3">
        <%= icon "document-text" %>
        <div class="flex-1">
          <h3 class="font-medium"></h3>
          <p class="text-sm opacity-70"></p>
        </div>
        <button type="button" data-action="files#removeFile" data-file-index="" class="btn btn-ghost btn-sm btn-circle">
          <%= icon "trash", variant: "mini", class: "text-error/80" %>
        </button>
      </div>
    </div>
  </div>
</template>
