<%= turbo_stream_from [ @chatbot, :responses ] %>
<div class="flex justify-between">
  <h1 class="text-3xl font-bold mb-8">FAQs</h1>
  <%= render partial: "after_signup/faqs/actions",
            locals: {
              chatbot: @chatbot,
              chatbot_response: @response
            } %>
</div>
<%= render partial: "after_signup/faqs/responses_list",
           locals: {
             chatbot: @chatbot,
             responses: @responses,
             pagy: @pagy,
             is_processing_documents: @is_processing_documents,
             chatbot_response: @response
           } %>
